@media (max-width:980px) {
    nav .nav-links {
        display: none
    }

    .menu-btn {
        display: inline-flex
    }

    .hero-grid {
        grid-template-columns: 1fr
    }

    .grid3 {
        grid-template-columns: 1fr
    }

    .about {
        grid-template-columns: 1fr
    }

    .contact {
        grid-template-columns: 1fr
    }

    .hero {
        padding: 38px 0;
    }

    .hero-card {
        min-height: 320px;
    }

    .hero-content {
        padding: 28px 22px;
    }

    .hero h1 {
        font-size: 34px;
    }
}

@media (max-width:520px) {
    .logo-text {
        font-size: 22px;
    }

    .logo img {
        height: 48px;
        max-width: 170px;
    }

    .hero h1 {
        font-size: 30px;
    }

    .hero p {
        font-size: 15px;
    }

    .slider-btn {
        width: 42px;
        height: 42px;
    }
}
